.mainPlantDetail {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;

    padding: 3rem;
}

.plantContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
}

.stateContainer {
    width: 100%;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.state {
    font-size: 2rem;
    color: #606060;
}

.image {
    width: 50%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    border-radius: 32px;
}

.infoContainer {
    width: 50%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: left;
}

.name {
    margin-top: 0;
    margin-bottom: 0;
}

.binomialName {
    color: #606060;
    padding-bottom: 2rem;
}

button {
    align-self: flex-start;
}

@media (max-width: 768px) {
    .mainPlantDetail {
        width: 100%;
        max-width: 100%;
        padding: 1rem;
        padding-top: 2rem;
    }

    .plantContainer {
        height: 100%;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .image {
        width: 100%;
        max-width: 100%;
        border-radius: 32px;
    }

    .infoContainer {
        width: 100%;
        padding-top: 0;
    }

    .binomialName {
        padding-bottom: 1rem;
    }

    .state {
        font-size: 1rem;
        color: #606060;
    }
}

