.breadcrumbs {
    font-size: 1rem;
    padding-bottom: 3rem;
    color: #606060;
}

.link {
    color: #606060;;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.separator {
    margin: 0 0.5rem;
}

.current {
    font-weight: bold;
    color: #333;
}

@media (max-width: 768px) {
    .breadcrumbs {
        font-size: 1rem;
        padding-bottom: 2rem;
        padding-top: 1rem;
        color: #606060;
    }
}
